<div class="row" *ngIf="point">
    <div class="col-4">
        <div class="card">
            <img src="{{posterShow() || './assets/404.png'}}" alt="{{movie.title}}" class="card-img-top img-thumbnail">
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="incCount(true)">Like : {{this.point?.like}}</button>
                    <button class="btn btn-secondary" (click)="incCount(false)">Dislike : {{this.point?.dislike}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
                <h4>{{movie.title}}</h4>
            <tab heading='About {{movie.title}}'>

                <div class="grouped-tab">
                <h4>Released</h4>
                <p>{{movie.release_date}}</p>

                <h4>Movie Length</h4>
                <p>{{movie.runtime}}</p>

                <h4>Description</h4>
                <p>{{movie.overview}}</p> 

            </div>
            </tab>
        </tabset>
    </div>
</div>